@media screen and (min-width: 601px) {
  html {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
  font-family: 'comforta', sans-serif;
}

.title {
  width: fit-content;
  margin: auto;
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(10px);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navigation::-webkit-scrollbar {
  display: none;
}

.menu {
  margin: auto;
  width: fit-content;
}

.menu_item {
  display: inline-block;
  font-size: 1rem;
  color: white;
  font-style: italic;
  margin: 5px 0px;
  padding: 3px 0.5rem;
  transition: transform 0.5s, color 0.2s, background-color 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .menu_item:hover, .menu_item:active {
    transform: translateY(5px);
  }
}
.menu_item > a {
  color: inherit;
  text-decoration: none;
}

.selected {
  color: black;
  background-color: white;
  border-radius: 5px;
}

.copyright {
  width: 100%;
  font-size: 0.5rem;
  text-align: center;
  background-color: black;
  color: white;
}

.section {
  display: flex;
  background-size: cover;
  align-content: center;
  height: 100vh;
}

.section_box {
  display: grid;
  z-index: 1;
  width: 60%;
  border-radius: 5px;
  margin: auto;
  height: fit-content;
  grid-template-areas:
    'side    title'
    'content content';
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 50px;
  background-color: rgba(200, 200, 200, 0.8);
  backdrop-filter: blur(20px);
}

.section_title {
  display: flex;
  align-self: center;
  grid-area: title;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

.section_content {
  grid-area: content;
  font-size: 1rem;
}

.section_side {
  grid-area: side;
}
.section_side > img {
  float: right;
  margin-left: auto;
  margin-right: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#about {
  background-image: url('assets/20190822_124455.jpg');
}

#education {
  background-image: url('assets/grad.jpg');
}

#work-experience {
  background-image: url('assets/ny.jpg');
}

#contact {
  background-image: url('assets/belagio.jpg');
}